@model FlowersDelivery.Models.FlowerItem

@{
    ViewBag.Title = "Удаление";
}

<h3>Удаление</h3>

<h5>Вы уверены, что хотите удалить?</h5>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
           Описание
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Цена
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sum)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> 
            <br /> <br />
            @Html.ActionLink("К списку товаров", "Index")
        </div>
    }
</div>
